page-question {
    .question-page {

        ion-card {
            
            box-shadow: none;

            .captured-image {
                .frame {
                    width: 100%;
                    height: 250px;
                    text-align: center;
                    overflow: hidden;

                    img {
                        position: relative;
                        top: 50%;
                        transform: translate(0,-50%)
                    }
                }

                .cross {
                    position: absolute;
                    top: 4%;
                    left: 84%;
                    color: grey;
                    height: 40px;
                    width: 40px;
                    z-index:99;
                }

                .picture {
                    height: 250px;
                }
            }

            p {
                background: #f8f8f8;
                height: 250px;
                text-align: center;
                padding-top: 100px;
                color: #b7b7b7;
                font-weight: 600;

                span {
                    font-size: 20px;
                }
            }

            margin: 0px;
            width: 100%;
        }

        ion-item {
            img {
                height: 20px;
                width: 20px;
                display:inline;
                margin-right: 10px;
            }
        }

        .description {
            height: 170px;
        }
    }

    .question-footer {
        .button-dark {
            background-color: #c3c3c3;
        }
    }

}
