<!--
  Generated template for the QuestionView page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>ManyTutors</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="question-view">

	<ion-card class = "Card">
		<div class="Card__image" (click)="viewImage()">
			<img [src]="question.full_image"/>

			<div class="Card__label">
				<div class = "Card__label-text">
					QUESTION
				</div>
			</div>
		</div>

		<div *ngIf="role=='tutor'" class = "buffer--n-sm">
			<span class="text--small text--muted">
				Help {{question.author.name}}. Be the first person to answer.
			</span>
		</div>

		<ion-item class = "buffer--u-sm">
			<ion-avatar item-left>
				<img [src]="question.author.profile_pic">
			</ion-avatar>

			<h2>{{question.author.name}}</h2>
			<div class="Card__meta">
				<span>{{question.formatted_created_at}}</span>
			</div>
		</ion-item>

		<ion-card-content>
			<p class="Card__content">
		        {{question.description}}
			</p>
			<p class="tags" *ngIf="question.tags">
			  <span *ngFor="let tag of question.tags">#{{tag.label}} </span>
			</p>
		</ion-card-content>
	</ion-card>

</ion-content>

<ion-footer *ngIf="role=='tutor'">
  <button ion-button block color="danger" large  (click)="answerQuestion()"><ion-icon name="camera"></ion-icon> Answer This Question</button>
</ion-footer>